jellyfin:
  ingress:
    enabled: true
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-production
    hosts:
    - host: watch.harpo.me
      paths:
      - path: /
        pathType: ImplementationSpecific
    tls:
    - secretName: jellyfin-tls
      hosts:
      - watch.harpo.me
  persistence:
    media:
      storageClass: proxmox-data-xfs
  securityContext:
    capabilities:
      add:
        - "SYS_ADMIN"
      drop:
        - "ALL"
    privileged: false

  extraVolumes:
    - name: hwa
      hostPath:
        path: /dev/dri

  extraVolumeMounts:
    - name: hwa
      mountPath: /dev/dri
